* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #ffffff;
    --light_blue: #4382c9;
    --light_gray: #cccccc;
    --black: #222222;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Style Header */

.header {
    position: sticky;
    top: 0;
    width: 70%;
    height: 4rem;
    background-color: var(--light_blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-click {
    text-decoration: none;
}

.header-title {
    color: var(--white);
    text-align: center;
}

/* Style Section Container */

.container-sections {
    width: 70%;
}

.section {
    padding-top: 4rem;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 4rem);

}

/* Style Section Title */

.section-title {
    background-color: var(--light_gray);
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace {
    margin: .5rem 0;
    height: calc(100% - 4rem);
    border: solid 1px;
    border-radius: .5rem;
    border-color: var(--light_gray);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.1);
}

/* Style Menu Overlay */

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    background-color: rgba(0, 0, 0, 0.750);
    z-index: 100;
    transition: transform .3s ease;
    transform: translate(0, -100%);
}

.menu.is-active {
    transform: translate(0, 0);
}

.menu-container {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-options {
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding: 2rem;
    color: var(--light_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.menu-options:hover {
    background-color: var(--light_blue);
    color: var(--black);
    transform: scale(1.2);
}

/* Style Menu Button */

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
    transition: transform .5s ease;
}

.button-menu:hover {
    transform: scale(1.1);
}

.button-menu div {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.button-menu span {
    background-color: var(--white);
    width: 80%;
    height: 4px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .5s ease, width .5s ease;
}

/* Reverse Style Button */

.button-menu .span-line1 {
    transform: translate(-50%, -12px);
}

.button-menu .span-line3 {
    transform: translate(-50%, 8px);
}

.openmenu .span-line1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .span-line3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .span-line2 {
    width: 0;
}