* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --white: #ffffff;
    --light_blue: #4382c9;
    --light_gray: #cccccc;
    --black: #222222;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Style Header */

.header {
    position: sticky;
    top: 0;
    width: 70%;
    max-width: 100%;
    height: 4rem;
    background-color: var(--light_blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-click {
    text-decoration: none;
}

.header-title {
    color: var(--white);
    text-align: center;
}

/* Style Section Container */

.container-sections {
    width: 70%;
}

.section {
    padding-top: 4rem;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 4rem);
    scroll-snap-align: start;
}

.section:first-child {
    margin-top: calc(-4rem);
}

.section:last-child {
    margin-bottom: 4rem;
}

/* Style Section Title */

.section-title {
    background-color: var(--light_gray);
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    width: 100%;
    max-width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    height: 100%;
    padding: 4rem;
    border: solid 1px;
    border-radius: .5rem;
    border-color: var(--light_gray);
    background-color: var(--white);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.1);
}

/* Style Menu Overlay */

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    background-color: rgba(0, 0, 0, 0.650);
    z-index: 500;
    clip-path: circle(0 at 97% 97%);
    transition: transform .3s ease, opacity .5s ease, clip-path .7s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menu.is-active {
    transform: translate(0, 0);
    clip-path: circle(100% at center);
}

.menu-container {
    margin-top: 6.8rem;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-options {
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding: 2rem;
    color: var(--light_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.menu-options:hover {
    background-color: var(--light_blue);
    color: var(--black);
    transform: scale(1.2);
}

/* Style Menu Button */

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
    transition: transform .5s ease;
}

.button-menu:hover {
    transform: scale(1.1);
}

.button-menu div {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.button-menu span {
    background-color: var(--white);
    width: 80%;
    height: 4px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .5s ease, width .5s ease;
}

/* Reverse Style Button */

.button-menu .span-line1 {
    transform: translate(-50%, -12px);
}

.button-menu .span-line3 {
    transform: translate(-50%, 8px);
}

.openmenu .span-line1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .span-line3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .span-line2 {
    width: 0;
}

/* RELOJ con Formato*/

.reloj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .5rem;
    background-color: var(--black);
    padding: 2rem 2rem;
    border-radius: .5rem;
    height: 8rem;
    gap: 1rem;
    width: 28rem;
    max-width: 100%;
}

.reloj {
    font-size: 4rem;
    text-align: center;
    width: 16rem;
    color: var(--light_blue);
}

.formato {
    font-size: 4rem;
    text-align: center;
    width: 4.5rem;
    color: var(--light_blue);
}

/* Botones Reloj */

.botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 15rem;
    max-width: 100%;
    margin: .5rem auto 0;
    gap: 2rem;
}

.boton-reloj {
    width: 100%;
    max-width: 100%;
    font-size: 1.2rem;
    padding: .3rem .7rem;
    border: none;
    background-color: var(--light_gray);
    border-radius: .5rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .3s ease;
}

.boton-reloj:hover {
    transform: scale(1.1);
}

.no-hover {
    pointer-events: none;
}

/* Botones alarma */

.audioBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    max-width: 100%;
    margin: .5rem auto 0;
    gap: 3rem;
}

.btn-alarma {
    width: 11.5rem;
    max-width: 100%;
    font-size: 2rem;
    padding: .3rem .7rem;
    border: none;
    background-color: var(--light_gray);
    border-radius: .5rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .3s ease;
}

.btn-alarma:hover {
    transform: scale(1.1);
}

/* Eventos del teclado */

.stage {
    display: flex;
    min-width: 50vw;
    min-height: 50vh;
    background-color: var(--black);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--light_blue);
}

/* Cuenta Regresiva */

.msg-cdown {
    font-size: 6rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100%;
}

.cdown-container {
    width: auto;
    height: 8rem;
    background-color: var(--black);
    padding: 2rem 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light_blue);
    text-align: center;
    gap: 4rem;
}

.year,
.day,
.hour,
.minute,
.second {
    font-size: 2rem;
    margin-bottom: .3rem;
}

/* Boton Scroll */

.btn-scroll {
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5.5rem;
    right: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 300;
    transition: all .3s ease-out;
}

.btn-scroll:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-scroll {
    fill: var(--white);
}

.btn-mostrar {
    opacity: 1;
    visibility: visible;
}

.btn-ocultar {
    opacity: 0;
    visibility: hidden;
}

/* Boton DarKmode */

.btn-darkmode {
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: all .3s ease-out;
}

.btn-darkmode:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.moon-icon, .sun-icon {
    fill: var(--white);
}

.dark-theme {
    background-color: var(--black);
}

/* Responsive tester */

.form-tester {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light_gray);
    border-radius: .5rem;
    width: 30rem;
    max-width: 100%;
    height: 20rem;
    padding: 2rem 4rem;
}

.label-form {
    display: block;
    text-align: left;
    max-width: 100%;
    font-size: 1rem;
    padding-left: .1rem;
    margin-top: 1.3rem;
}

.input-form {
    width: 100%;
    max-width: auto;
    height: 2rem;
    border: 2px solid transparent;
    padding: .5rem;
    margin-top: .3rem;
    outline: transparent;
    transition: border-bottom 300ms ease;
}

.input-form:focus,
.input-form:hover {
    border-bottom: 2px solid var(--light_blue);
}

.container-submits {
    margin-top: 1.6rem;
    display: flex;
    gap: 3rem;
    width: 100%;
    max-width: 100%;
}

.abrir, .cerrar {
    font-size: 1rem;
    width: 6rem;
    max-width: 100%;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--white);
    transition: all 500ms ease;
}

.abrir:hover, .cerrar:hover {
    transform: scale(1.05);
    background-color: var(--light_blue);
    color: var(--white);
    cursor: pointer;
}

/* User Agent */

#user-agent {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Detección de Conexion */

.online,
.offline {
    position: sticky;
    top: 0;
    z-index: 1300;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: #008000;
    color: var(--white);
}

.offline {
    background-color: #ff0000;
}

/* Detección Webcam */

#webcam {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    background-color: var(--black);
    margin-bottom: 1rem;
}

.center-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Detección de Ubicación */

#posicion {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 2rem;
}

/* Filtro de busqueda */

.search {
    width: 20rem;
    max-width: 100%;
    height: 2rem;
    border: 2px solid var(--light_gray);
    border-radius: .5rem;
    padding: .5rem;
    margin: 3rem 0;
    text-align: center;
    outline: transparent;
    text-decoration: none;
    transition: border-bottom 300ms ease;
}

.search:focus,
.search:hover {
    border-bottom: 2px solid var(--light_blue);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 3rem;
    padding: 2%;
    margin: 0 auto;
    width: 67rem;
    max-width: 100%;
    height: 36rem;
    max-height: 100%;
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.05);
    overflow-y: auto;
}

.card {
    border-radius: .5rem;
    padding: 10px;
    text-align: center;
    width: 13.75rem;
    max-width: 100%;
    height: 15rem;
    max-height: 100%;
    background-color: #faf3f3;
    transition: all .3s ease-out;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.filter {
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/* Sorteo Digital */

.contenedor-input-sorteo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.input-sorteo {
    width: 20rem;
    height: 1.75rem;
    border: solid 1px var(--black);
    outline: transparent;
    padding: 0 .3rem;
    font-size: 1rem;
    border-radius: .5rem 0 0 .5rem;
}

.boton-sorteo {
    width: 6.25rem;
    height: 1.75rem;
    max-width: 100%;
    font-size: 1.2rem;
    padding: .3rem .7rem;
    border: solid 1px var(--black);
    background-color: var(--light_gray);
    border-radius: 0 .5rem .5rem 0;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
}

.boton-sorteo:active {
    background-color: var(--light_blue);
    color: var(--white);
    cursor: pointer;
}

.contenedor-sorteo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: 41rem;
    max-height: 100%;
}

.contenedor-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem,1fr));
    align-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.btn-sortear {
    border-radius: .5rem;
}

.item-sorteo {
    display: inline;
    align-self: center;
}