* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --white: #ffffff;
    --light_blue: #4382c9;
    --light_gray: #cccccc;
    --black: #222222;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* Style Header */

.header {
    position: sticky;
    top: 0;
    width: 70%;
    height: 4rem;
    background-color: var(--light_blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-click {
    text-decoration: none;
}

.header-title {
    color: var(--white);
    text-align: center;
}

/* Style Section Container */

.container-sections {
    width: 70%;
}

.section {
    padding-top: 4rem;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 4rem);
    scroll-snap-align: start;
}

.section:first-child {
    margin-top: calc(-4rem);
}

.section:last-child {
    margin-bottom: 4rem;
}

/* Style Section Title */

.section-title {
    background-color: var(--light_gray);
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    height: 100%;
    border: solid 1px;
    border-radius: .5rem;
    border-color: var(--light_gray);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.1);
}

/* Style Menu Overlay */

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    /* left: -100%; */
    background-color: rgba(0, 0, 0, 0.650);
    z-index: 500;
    clip-path: circle(0 at 97% 97%);
    transition: transform .3s ease, opacity .5s ease, clip-path .7s ease;

}

.menu.is-active {
    transform: translate(0, 0);
    clip-path: circle(100% at center);
}

.menu-container {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-options {
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding: 2rem;
    color: var(--light_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.menu-options:hover {
    background-color: var(--light_blue);
    color: var(--black);
    transform: scale(1.2);
}

/* Style Menu Button */

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
    transition: transform .5s ease;
}

.button-menu:hover {
    transform: scale(1.1);
}

.button-menu div {
    width: 3rem;
    height: 3rem;
    position: relative;
}

.button-menu span {
    background-color: var(--white);
    width: 80%;
    height: 4px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .5s ease, width .5s ease;
}

/* Reverse Style Button */

.button-menu .span-line1 {
    transform: translate(-50%, -12px);
}

.button-menu .span-line3 {
    transform: translate(-50%, 8px);
}

.openmenu .span-line1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .span-line3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .span-line2 {
    width: 0;
}

/* RELOJ con Formato*/

.reloj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto .5rem;
    background-color: var(--black);
    padding: 2rem 2rem;
    border-radius: .5rem;
    height: 8rem;
    gap: 1rem;
}

.reloj {
    font-size: 4rem;
    text-align: center;
    width: 16rem;
    color: var(--light_blue);
}

.formato {
    font-size: 4rem;
    text-align: center;
    width: 4.5rem;
    color: var(--light_blue);
}

/* Botones Reloj */

.botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin: .5rem auto 0;
    gap: 2rem;
}

.boton-reloj {
    font-size: 1.2rem;
    padding: .3rem .7rem;
    border: none;
    background-color: var(--light_gray);
    border-radius: .5rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .3s ease;
}

.boton-reloj:hover {
    transform: scale(1.1);
}

.no-hover {
    pointer-events: none;
}

/* Botones alarma */

.audioBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin: .5rem auto 0;
    gap: 3rem;
}

.btn-alarma {
    font-size: 2rem;
    padding: .3rem .7rem;
    border: none;
    background-color: var(--light_gray);
    border-radius: .5rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .3s ease;
}

.btn-alarma:hover {
    transform: scale(1.1);
}

/* Eventos del teclado */

.stage {
    display: flex;
    min-width: 50vw;
    min-height: 50vh;
    background-color: var(--black);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--light_blue);
}

/* Cuenta Regresiva */

.msg-cdown {
    font-size: 6rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
}

.cdown-container {
    width: 38rem;
    height: 8rem;
    background-color: var(--black);
    padding: 2rem 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light_blue);
    text-align: center;
    gap: 4rem;
}

.year, .day,.hour,
.minute, .second {
    font-size: 2rem;
    margin-bottom: .3rem;
}

/* Boton Scroll */

.btn-scroll {
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    background-color: var(--light_blue);
    padding: .5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 5.5rem;
    right: 1rem;
    box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.1);
    z-index: 300;
    transition: transform .5s ease, cursor .5s ease;
}

.btn-scroll:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-scroll {
    fill: var(--white);
}

.btn-mostrar {
    opacity: 1;
    visibility: visible;
}

.btn-ocultar {
    opacity: 0;
    visibility: hidden;
}